[submodule "Micronaet/micronaet-logistic"]
	path = Micronaet/micronaet-logistic
	url = git@github.com:Micronaet/micronaet-logistic.git
	branch = creazione_resi_mago

[submodule "RLJO/micronaet-docnaet"]
	path = RLJO/micronaet-docnaet
	url = git@github.com:RLJO/micronaet-docnaet.git
	branch = master

[submodule "RLJO/hr_test_14"]
	path = RLJO/hr_test_14
	url = git@github.com:RLJO/hr_test_14.git
	branch = main
